# Importaciones

In [27]:
import pandas as pd

In [28]:
## leer dataset

In [29]:
df = pd.read_csv("datos_Energia.csv")
df

,Proyecto,Tipo,Capacidad,Departamento,Municipio,Código Departamento,Código Municipio,Fecha estimada FPO,Energía [kWh/día],Usuarios,Inversión estimada [COP],Empleos estimados,Emisiones CO2 [Ton/año]
0,JEPIRACHI,Eólico,18.42,LA GUAJIRA,URIBIA,44,44847,2004-04-27T00:00:00.000,176832,30665,79206000000,51,51635
1,AUTOG CELSIA SOLAR YUMBO,Solar,9.80,VALLE DEL CAUCA,YUMBO,76,76892,2017-03-09T00:00:00.000,47040,8157,42140000000,68,13736
2,CELSIA SOLAR BOLIVAR,Solar,8.06,BOLÍVAR,SANTA ROSA,13,13683,2019-02-01T00:00:00.000,38688,6709,34658000000,56,11297
3,EL PASO SOLAR (ENEL GREEN POWER),Solar,67.00,CESAR,EL PASO,20,20250,2019-04-05T00:00:00.000,321600,55769,288100000000,466,93907
4,SOLAR CASTILLA ECP,Solar,20.00,META,CASTILLA LA NUEVA,50,50150,2019-10-10T00:00:00.000,96000,16647,86000000000,139,28032
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,BUGA 1 PARTE 2,Solar,5.94,VALLE DEL CAUCA,"""""",76,76,2022-12-31T00:00:00.000,28512,4944,22275000000,41,8326
154,BUGA 1 PARTE 1,Solar,3.96,VALLE DEL CAUCA,"""""",76,76,2022-07-31T00:00:00.000,19008,3296,14850000000,28,5550
155,REFINERÍA GRB,Solar,21.00,SANTANDER,BARRANCABERMEJA,68,68081,2023-12-31T00:00:00.000,100800,17480,78750000000,146,29434
156,EMSA GD Y AG (34 Proyectos),Solar,1.90,META,VILLAVICENCIO,50,50001,2022-05-31T00:00:00.000,9120,1582,8170000000,13,2663
157,ENELAR GD Y AG (4 Proyectos),Solar,0.11,ARAUCA,ARAUCA,81,81001,2022-05-31T00:00:00.000,528,92,473000000,1,154

In [30]:
df.head()

,Proyecto,Tipo,Capacidad,Departamento,Municipio,Código Departamento,Código Municipio,Fecha estimada FPO,Energía [kWh/día],Usuarios,Inversión estimada [COP],Empleos estimados,Emisiones CO2 [Ton/año]
0,JEPIRACHI,Eólico,18.42,LA GUAJIRA,URIBIA,44,44847,2004-04-27T00:00:00.000,176832,30665,79206000000,51,51635
1,AUTOG CELSIA SOLAR YUMBO,Solar,9.80,VALLE DEL CAUCA,YUMBO,76,76892,2017-03-09T00:00:00.000,47040,8157,42140000000,68,13736
2,CELSIA SOLAR BOLIVAR,Solar,8.06,BOLÍVAR,SANTA ROSA,13,13683,2019-02-01T00:00:00.000,38688,6709,34658000000,56,11297
3,EL PASO SOLAR (ENEL GREEN POWER),Solar,67.00,CESAR,EL PASO,20,20250,2019-04-05T00:00:00.000,321600,55769,288100000000,466,93907
4,SOLAR CASTILLA ECP,Solar,20.00,META,CASTILLA LA NUEVA,50,50150,2019-10-10T00:00:00.000,96000,16647,86000000000,139,28032

In [31]:
df.count()

Proyecto                    158
Tipo                        158
Capacidad                   158
Departamento                158
Municipio                   158
Código Departamento         158
Código Municipio            158
Fecha estimada FPO          158
Energía [kWh/día]           158
Usuarios                    158
Inversión estimada [COP]    158
Empleos estimados           158
Emisiones CO2 [Ton/año]     158
dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Proyecto                  158 non-null    object
 1   Tipo                      158 non-null    object
 2   Capacidad                 158 non-null    float64
 3   Departamento              158 non-null    object
 4   Municipio                 158 non-null    object
 5   Código Departamento       158 non-null    int64
 6   Código Municipio          158 non-null    int64
 7   Fecha estimada FPO        158 non-null    object
 8   Energía [kWh/día]         158 non-null    int64
 9   Usuarios                  158 non-null    int64
 10  Inversión estimada [COP]  158 non-null    int64
 11  Empleos estimados         158 non-null    int64
 12  Emisiones CO2 [Ton/año]   158 non-null    int64
dtypes: float64(1), int64(7), object(5)
memory usage: 16.2+ KB

In [33]:
df.describe()

,Capacidad,Código Departamento,Código Municipio,Energía [kWh/día],Usuarios,Inversión estimada [COP],Empleos estimados,Emisiones CO2 [Ton/año]
count,158.000000,158.000000,158.000000,1.580000e+02,158.000000,1.580000e+02,158.000000,158.000000
mean,37.971646,42.829114,41551.797468,2.312960e+05,40109.063291,1.450582e+11,221.607595,67538.462025
std,78.068671,26.605922,27283.549553,5.070385e+05,87925.819429,2.938303e+11,485.174312,148055.230112
min,0.010000,5.000000,23.000000,2.100000e+01,4.000000,9.800000e+06,0.000000,6.000000
25%,2.275000,17.500000,13675.500000,1.092000e+04,1893.750000,9.513750e+09,16.000000,3189.000000
50%,9.900000,44.000000,44847.000000,4.752000e+04,8240.000000,3.963250e+10,69.000000,13876.000000
75%,20.750000,70.000000,68514.750000,1.123800e+05,19487.750000,8.557000e+10,144.250000,32814.750000
max,700.000000,94.000000,94001.000000,3.360000e+06,582659.000000,2.625000e+12,4872.000000,981120.000000

## Mirar si hay datos nulos

In [34]:
df.isnull().sum()

Proyecto                    0
Tipo                        0
Capacidad                   0
Departamento                0
Municipio                   0
Código Departamento         0
Código Municipio            0
Fecha estimada FPO          0
Energía [kWh/día]           0
Usuarios                    0
Inversión estimada [COP]    0
Empleos estimados           0
Emisiones CO2 [Ton/año]     0
dtype: int64

In [35]:
df_copy = df.copy()

In [36]:
df_copy.drop(columns=['Proyecto'], inplace=True)

In [37]:
df_copy

,Tipo,Capacidad,Departamento,Municipio,Código Departamento,Código Municipio,Fecha estimada FPO,Energía [kWh/día],Usuarios,Inversión estimada [COP],Empleos estimados,Emisiones CO2 [Ton/año]
0,Eólico,18.42,LA GUAJIRA,URIBIA,44,44847,2004-04-27T00:00:00.000,176832,30665,79206000000,51,51635
1,Solar,9.80,VALLE DEL CAUCA,YUMBO,76,76892,2017-03-09T00:00:00.000,47040,8157,42140000000,68,13736
2,Solar,8.06,BOLÍVAR,SANTA ROSA,13,13683,2019-02-01T00:00:00.000,38688,6709,34658000000,56,11297
3,Solar,67.00,CESAR,EL PASO,20,20250,2019-04-05T00:00:00.000,321600,55769,288100000000,466,93907
4,Solar,20.00,META,CASTILLA LA NUEVA,50,50150,2019-10-10T00:00:00.000,96000,16647,86000000000,139,28032
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Solar,5.94,VALLE DEL CAUCA,"""""",76,76,2022-12-31T00:00:00.000,28512,4944,22275000000,41,8326
154,Solar,3.96,VALLE DEL CAUCA,"""""",76,76,2022-07-31T00:00:00.000,19008,3296,14850000000,28,5550
155,Solar,21.00,SANTANDER,BARRANCABERMEJA,68,68081,2023-12-31T00:00:00.000,100800,17480,78750000000,146,29434
156,Solar,1.90,META,VILLAVICENCIO,50,50001,2022-05-31T00:00:00.000,9120,1582,8170000000,13,2663
157,Solar,0.11,ARAUCA,ARAUCA,81,81001,2022-05-31T00:00:00.000,528,92,473000000,1,154