## Importar Librerias

In [1]:
# importar librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importar Datasets

In [2]:
inventory = pd.read_csv("inventarios.csv")
satisfaction = pd.read_csv("satisfaccion.csv")
sales = pd.read_csv("ventas.csv")

## Mostrar las primeras filas

In [11]:
print("===ventas===")
print(sales.head(10),"\n")
print("===inventarios===")
print(inventory.head(10),"\n")
print("===Satisfaccion===")
print(satisfaction.head(10),"\n")

===ventas===
   ID_Tienda    Producto  Cantidad_Vendida  Precio_Unitario Fecha_Venta
0          1  Producto A                20              100  2023-01-05
1          1  Producto B                15              200  2023-01-06
2          2  Producto A                30              100  2023-01-07
3          2  Producto C                25              300  2023-01-08
4          3  Producto A                10              100  2023-01-09
5          3  Producto B                40              200  2023-01-10
6          4  Producto C                35              300  2023-01-11
7          4  Producto A                25              100  2023-01-12
8          5  Producto B                20              200  2023-01-13
9          5  Producto C                30              300  2023-01-14

===inventarios===
   ID_Tienda    Producto  Stock_Disponible Fecha_Actualizaci贸n
0          1  Producto A                50          2023-01-05
1          1  Producto B                40          2023-01-06
2          2  Producto A                60          2023-01-07
3          2  Producto C                45          2023-01-08
4          3  Producto A                30          2023-01-09
5          3  Producto B                80          2023-01-10
6          4  Producto C                70          2023-01-11
7          4  Producto A                50          2023-01-12
8          5  Producto B                40          2023-01-13
9          5  Producto C                60          2023-01-14

===Satisfaccion===
   ID_Tienda  Satisfacci贸n_Promedio Fecha_Evaluaci贸n
0          1                     85       2023-01-15
1          2                     90       2023-01-15
2          3                     70       2023-01-15
3          4                     65       2023-01-15
4          5                     55       2023-01-15

## Del dataset hacer una matriz con numpy

In [8]:
inventory['ID_Tienda']
inventoryDataset = inventory.iloc[:].values
print(inventoryDataset)

[[1 'Producto A' 50 '2023-01-05']
 [1 'Producto B' 40 '2023-01-06']
 [2 'Producto A' 60 '2023-01-07']
 [2 'Producto C' 45 '2023-01-08']
 [3 'Producto A' 30 '2023-01-09']
 [3 'Producto B' 80 '2023-01-10']
 [4 'Producto C' 70 '2023-01-11']
 [4 'Producto A' 50 '2023-01-12']
 [5 'Producto B' 40 '2023-01-13']
 [5 'Producto C' 60 '2023-01-14']]

## limpiar datos(eliminar filas con valores nulos)

In [12]:
sales = sales.dropna()
inventory = inventory.dropna()
satisfaction = satisfaction.dropna()

# analisis de ventas totales

In [13]:
sales["Ventas_Totales"] = sales["Cantidad_Vendida"]*sales["Precio_Unitario"]
print(sales)

total_sales = sales.groupby("ID_Tienda")["Ventas_Totales"].sum().reset_index()
print(total_sales)

   ID_Tienda    Producto  Cantidad_Vendida  Precio_Unitario Fecha_Venta  \
0          1  Producto A                20              100  2023-01-05
1          1  Producto B                15              200  2023-01-06
2          2  Producto A                30              100  2023-01-07
3          2  Producto C                25              300  2023-01-08
4          3  Producto A                10              100  2023-01-09
5          3  Producto B                40              200  2023-01-10
6          4  Producto C                35              300  2023-01-11
7          4  Producto A                25              100  2023-01-12
8          5  Producto B                20              200  2023-01-13
9          5  Producto C                30              300  2023-01-14

   Ventas_Totales
0            2000
1            3000
2            3000
3            7500
4            1000
5            8000
6           10500
7            2500
8            4000
9            9000
   ID_Tienda  Ventas_Totales
0          1            5000
1          2           10500
2          3            9000
3          4           13000
4          5           13000

## rotacion de inventario

In [20]:
# merge es una comparacion de que esos 2 elementos son iguales
#inner es la condicion de join
sales_inventory = pd.merge(sales,inventory,on=["ID_Tienda","Producto"],how="inner")
print(sales_inventory)
sales_inventory["Rotacion_inventario"]=sales_inventory["Cantidad_Vendida"]/sales_inventory["Stock_Disponible"]
print(sales_inventory)

   ID_Tienda    Producto  Cantidad_Vendida  Precio_Unitario Fecha_Venta  \
0          1  Producto A                20              100  2023-01-05
1          1  Producto B                15              200  2023-01-06
2          2  Producto A                30              100  2023-01-07
3          2  Producto C                25              300  2023-01-08
4          3  Producto A                10              100  2023-01-09
5          3  Producto B                40              200  2023-01-10
6          4  Producto C                35              300  2023-01-11
7          4  Producto A                25              100  2023-01-12
8          5  Producto B                20              200  2023-01-13
9          5  Producto C                30              300  2023-01-14

   Ventas_Totales  Stock_Disponible Fecha_Actualizaci贸n
0            2000                50          2023-01-05
1            3000                40          2023-01-06
2            3000                60          2023-01-07
3            7500                45          2023-01-08
4            1000                30          2023-01-09
5            8000                80          2023-01-10
6           10500                70          2023-01-11
7            2500                50          2023-01-12
8            4000                40          2023-01-13
9            9000                60          2023-01-14
   ID_Tienda    Producto  Cantidad_Vendida  Precio_Unitario Fecha_Venta  \
0          1  Producto A                20              100  2023-01-05
1          1  Producto B                15              200  2023-01-06
2          2  Producto A                30              100  2023-01-07
3          2  Producto C                25              300  2023-01-08
4          3  Producto A                10              100  2023-01-09
5          3  Producto B                40              200  2023-01-10
6          4  Producto C                35              300  2023-01-11
7          4  Producto A                25              100  2023-01-12
8          5  Producto B                20              200  2023-01-13
9          5  Producto C                30              300  2023-01-14

   Ventas_Totales  Stock_Disponible Fecha_Actualizaci贸n  Rotacion_inventario
0            2000                50          2023-01-05             0.400000
1            3000                40          2023-01-06             0.375000
2            3000                60          2023-01-07             0.500000
3            7500                45          2023-01-08             0.555556
4            1000                30          2023-01-09             0.333333
5            8000                80          2023-01-10             0.500000
6           10500                70          2023-01-11             0.500000
7            2500                50          2023-01-12             0.500000
8            4000                40          2023-01-13             0.500000
9            9000                60          2023-01-14             0.500000

# Generar resumen estadistico de las ventas

In [22]:
Estadisticas = sales.describe()
print(Estadisticas)

       ID_Tienda  Cantidad_Vendida  Precio_Unitario  Ventas_Totales
count  10.000000         10.000000        10.000000       10.000000
mean    3.000000         25.000000       190.000000     5050.000000
std     1.490712          9.128709        87.559504     3361.960407
min     1.000000         10.000000       100.000000     1000.000000
25%     2.000000         20.000000       100.000000     2625.000000
50%     3.000000         25.000000       200.000000     3500.000000
75%     4.000000         30.000000       275.000000     7875.000000
max     5.000000         40.000000       300.000000    10500.000000

# calcula el promedio de ventas por tienda y categor铆a de productos

In [49]:
total_sales = sales.groupby("ID_Tienda")["Ventas_Totales"].mean().reset_index()
print(total_sales)

   ID_Tienda  Ventas_Totales
0          1          2500.0
1          2          5250.0
2          3          4500.0
3          4          6500.0
4          5          6500.0

In [50]:
total_sales = sales.groupby("Producto")["Ventas_Totales"].sum().reset_index()
print(total_sales)

     Producto  Ventas_Totales
0  Producto A            8500
1  Producto B           15000
2  Producto C           27000

# Filtra y muestra las tiendas donde el porcentaje del productos vendidos sea menor a 10%

In [56]:
sales_inventory

,ID_Tienda,Producto,Cantidad_Vendida,Precio_Unitario,Fecha_Venta,Ventas_Totales,Stock_Disponible,Fecha_Actualizaci贸n,Rotacion_inventario
0,1,Producto A,20,100,2023-01-05,2000,50,2023-01-05,0.400000
1,1,Producto B,15,200,2023-01-06,3000,40,2023-01-06,0.375000
2,2,Producto A,30,100,2023-01-07,3000,60,2023-01-07,0.500000
3,2,Producto C,25,300,2023-01-08,7500,45,2023-01-08,0.555556
4,3,Producto A,10,100,2023-01-09,1000,30,2023-01-09,0.333333
5,3,Producto B,40,200,2023-01-10,8000,80,2023-01-10,0.500000
6,4,Producto C,35,300,2023-01-11,10500,70,2023-01-11,0.500000
7,4,Producto A,25,100,2023-01-12,2500,50,2023-01-12,0.500000
8,5,Producto B,20,200,2023-01-13,4000,40,2023-01-13,0.500000
9,5,Producto C,30,300,2023-01-14,9000,60,2023-01-14,0.500000

In [67]:
inventarios = pd.DataFrame(sales_inventory, columns=["ID_Tienda", "Producto"])
inventarios["porcentaje_vendido"] = sales_inventory["Cantidad_Vendida"]/100
inventarios["porcentaje_stock"]= (sales_inventory["Stock_Disponible"]*.10)/100
inventarios["Critico"]= inventarios["porcentaje_vendido"]<inventarios["porcentaje_stock"]
inventarios

   ID_Tienda    Producto  porcentaje_vendido  porcentaje_stock  Critico
0          1  Producto A                0.20             0.050    False
1          1  Producto B                0.15             0.040    False
2          2  Producto A                0.30             0.060    False
3          2  Producto C                0.25             0.045    False
4          3  Producto A                0.10             0.030    False
5          3  Producto B                0.40             0.080    False
6          4  Producto C                0.35             0.070    False
7          4  Producto A                0.25             0.050    False
8          5  Producto B                0.20             0.040    False
9          5  Producto C                0.30             0.060    False